<div class="d-flex flex-wrap flex-stack mb-6" data-select2-id="select2-data-198-326k">
    <!--begin::Heading-->
    <h3 class="fw-bold my-2">
        My Projects 
        <span class="fs-6 text-gray-400 fw-semibold ms-1">Active</span>
    </h3>
    <!--end::Heading-->

    <!--begin::Actions-->
    <div class="d-flex flex-wrap my-2" data-select2-id="select2-data-197-2aa1">
        <div class="me-4" data-select2-id="select2-data-196-d5q2">
            <!--begin::Select-->
            <select name="status" data-control="select2" data-hide-search="true" class="form-select form-select-sm form-select-solid w-125px select2-hidden-accessible" data-select2-id="select2-data-9-ohzz" tabindex="-1" aria-hidden="true" data-kt-initialized="1">
                <option value="Active" selected="" data-select2-id="select2-data-11-f7el">Active</option>
                <option value="Approved" data-select2-id="select2-data-201-k9m8">In Progress</option>
                <option value="Declined" data-select2-id="select2-data-202-ae8r">To Do</option>
                <option value="In Progress" data-select2-id="select2-data-203-wtkc">Completed</option>
            </select><span class="select2 select2-container select2-container--bootstrap5 select2-container--focus select2-container--above" dir="ltr" data-select2-id="select2-data-10-e85x" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single form-select form-select-sm form-select-solid w-125px" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-status-ol-container" aria-controls="select2-status-ol-container"><span class="select2-selection__rendered" id="select2-status-ol-container" role="textbox" aria-readonly="true" title="Completed">Completed</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
            <!--end::Select-->
        </div>

        <a href="#" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#kt_modal_create_project">New Project</a>
    </div>
    <!--end::Actions-->
</div>