@model IEnumerable<Category>

<div class="col-lg-12 mb-3 d-flex flex-wrap">
	@foreach (var item in Model)
	{
		<div class="menu-item p-0 m-0">
			<a asp-controller="Category" asp-action="CategoryType" asp-route-name="@item.Name" class="menu-link ">
				<span class="menu-bullet"><span class="bullet bullet-dot bg-gray-300i h-6px w-6px"></span></span>
				<span class="menu-title">@item.Name</span>
			</a>
		</div>
	}

</div>